@model IEnumerable<WebKhachHang.Models.TblTaiKhoan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Tài khoản
            </th>
            <th>
               Mật khẩu
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDangNhap)
            </td>
            <td>
               **********
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaTk">Đổi Mật Khẩu</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
