@{
    ViewData["Title"] = "Lịch sử giao dịch";
}
<section class="pricing_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main_title">
                    <h2>Thông tin cá nhân</h2>
                    <h1>Thông tin cá nhân</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="pricing_item">
                    <h3 class="p_title">Silver Package</h3>
                    <h1 class="p_price">$69.00</h1>
                    <div class="p_list">
                        <ul>
                            <li>Basic hair Cut</li>
                            <li>Basic hair Cut</li>
                            <li>Basic hair Cut</li>
                        </ul>
                    </div>
                    <div class="p_btn">
                        <a class="gradient_btn" href="#"><span>Order Now</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
