@{
    ViewData["Title"] = "Home Page";
}


<!--================Home Banner Area =================-->
<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="home_left_img">
                        <img class="img-fluid" src="~/HomeFile/img/banner/home-left.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="banner_content">
                        <h2>
                            VinID <br>
                            Chương trình<br>chăm sóc khách hàng thân thiết<br>
                            của Tập đoàn Vingroup
                        </h2>
                        <p>
                            Tập đoàn Vingroup chính thức ra mắt Chương trình Chăm sóc Khách hàng thân thiết của Tập đoàn Vingroup và phát hành thẻ VinID cho toàn bộ các khách hàng sử dụng sản phẩm, dịch vụ của các Công ty thành viên trực thuộc Tập đoàn.
                        </p>
                        <div class="d-flex align-items-center">
                            <a id="play-home-video" class="video-play-button" href="https://www.youtube.com/watch?v=pQJDN6HmVgg">
                                <span></span>
                            </a>
                            <div class="watch_video text-uppercase">
                                xem hướng dẫn
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Start About Us Area =================-->
<section class="about_us_area section_gap_top">
    <div class="container">
        <div class="row about_content align-items-center">
            <div class="col-lg-6">
                <div class="section_content">
                    <h6>About Us</h6>
                    <h1>We Believe that <br>Interior beauty Lasts Long</h1>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards
                        especially in the workplace. That’s why it’s crucial that as women.
                    </p>
                    <a class="primary_btn" href="#">Learn More</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about_us_image_box justify-content-center">
                    <img class="img-fluid w-100" src="~/HomeFile/img/about_img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End About Us Area =================-->

<!--================ Start Frequently Asked Questions Area ================-->
<section class="frequently_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main_title">
                    <h2>Frequently Asked Questions</h2>
                    <h1>Frequently Asked Questions</h1>
                </div>
            </div>
        </div>
        <div class="row frequent_inner">
            <div class="col-lg-5 col-md-5">
                <div class="frequent_item">
                    <h3>We Believe that Interior beauty Lasts Long</h3>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards
                        especially in the workplace. That’s why it’s crucial that as women.
                    </p>
                </div>
            </div>
            <div class="offset-lg-2 col-lg-5 offset-md-2 col-md-5">
                <div class="frequent_item">
                    <h3>We Believe that Interior beauty Lasts Long</h3>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards
                        especially in the workplace. That’s why it’s crucial that as women.
                    </p>
                </div>
            </div>
            <div class="col-lg-5 col-md-5">
                <div class="frequent_item">
                    <h3>We Believe that Interior beauty Lasts Long</h3>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards
                        especially in the workplace. That’s why it’s crucial that as women.
                    </p>
                </div>
            </div>
            <div class="offset-lg-2 col-lg-5 offset-md-2 col-md-5">
                <div class="frequent_item">
                    <h3>We Believe that Interior beauty Lasts Long</h3>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards
                        especially in the workplace. That’s why it’s crucial that as women.
                    </p>
                </div>
            </div>
            <div class="col-lg-5 col-md-5">
                <div class="frequent_item last-child">
                    <h3>We Believe that Interior beauty Lasts Long</h3>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards
                        especially in the workplace. That’s why it’s crucial that as women.
                    </p>
                </div>
            </div>
            <div class="offset-lg-2 col-lg-5 offset-md-2 col-md-5">
                <div class="frequent_item last-child">
                    <h3>We Believe that Interior beauty Lasts Long</h3>
                    <p>
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards
                        especially in the workplace. That’s why it’s crucial that as women.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
