@model WebKhachHang.Models.TblKhachHang

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>TblKhachHang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HoTen" class="control-label"></label>
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamSinh" class="control-label"></label>
                <input asp-for="NamSinh" class="form-control" />
                <span asp-validation-for="NamSinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioiTinh" class="control-label"></label>
                <input asp-for="GioiTinh" class="form-control" />
                <span asp-validation-for="GioiTinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgheNghiep" class="control-label"></label>
                <input asp-for="NgheNghiep" class="form-control" />
                <span asp-validation-for="NgheNghiep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cmnd" class="control-label"></label>
                <input asp-for="Cmnd" class="form-control" />
                <span asp-validation-for="Cmnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sdt" class="control-label"></label>
                <input asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayThamGia" class="control-label"></label>
                <input asp-for="NgayThamGia" class="form-control" />
                <span asp-validation-for="NgayThamGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiemTichLuy" class="control-label"></label>
                <input asp-for="DiemTichLuy" class="form-control" />
                <span asp-validation-for="DiemTichLuy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiemHienCo" class="control-label"></label>
                <input asp-for="DiemHienCo" class="form-control" />
                <span asp-validation-for="DiemHienCo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiKhachHang" class="control-label"></label>
                <input asp-for="LoaiKhachHang" class="form-control" />
                <span asp-validation-for="LoaiKhachHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <input asp-for="TrangThai" class="form-control" />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaTk" class="control-label"></label>
                <select asp-for="MaTk" class ="form-control" asp-items="ViewBag.MaTk"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
