<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dịch vụ khách hàng</title>

    <link rel="stylesheet" href="~/HomeFile/css/bootstrap.css">
    <link rel="stylesheet" href="~/HomeFile/vendors/linericon/style.css">
    <link rel="stylesheet" href="~/HomeFile/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/HomeFile/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/HomeFile/css/magnific-popup.css">
    <link rel="stylesheet" href="~/HomeFile/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="~/HomeFile/vendors/animate-css/animate.css">
    <link rel="stylesheet" href="~/HomeFile/vendors/flaticon/flaticon.css">
    <!-- main css -->
    <link rel="stylesheet" href="~/HomeFile/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.18/af-2.3.3/r-2.2.2/sl-1.3.0/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.18/af-2.3.3/r-2.2.2/sl-1.3.0/datatables.min.js"></script>

</head>
<body>
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" asp-controller="Home" asp-action="Index"><img src="~/HomeFile/img/logo.png" width="50" height="50" style="border-radius: 10px" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav justify-content-center">
                            <li class="nav-item active"><a class="nav-link" asp-controller="Home" asp-action="Index">Trang chủ</a></li>

                            <li id="profile" style="display:none" class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Profile">Thông tin cá nhân</a></li>
                            <li id="history" style="display:none" class="nav-item"><a class="nav-link" asp-controller="GiaoDich" asp-action="Index">Lịch sử giao dịch</a>


                            <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Contact">Liên hệ</a></li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit; font-size:10px">Xin chào! @ViewBag.Name</font></font></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="single-blog.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đổi mật khẩu</font></font></a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="Login" asp-action="Index"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đăng Xuất</font></font></a></li>

                                </ul>
                            </li>

                        </ul>
                        <ul class="nav navbar-nav navbar-right">

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <partial name="_CookieConsentPartial" />

    
        @RenderBody()


    <footer class="footer_area section_gap_top">
        <div class="container">
            <div class="row single-footer-widget" style="color:white">
                <div class="col-lg-6">
                    <div class="contact_info">
                        <h3>HỖ TRỢ KHÁCH HÀNG</h3>
                        Tổng đài CSKH (8h00-22h00 hàng ngày)<br>
                        - Hotline KHTT: 1900 6959<br>
                        - Hotline VIP: 1800 6599<br>
                        - Với cuộc gọi từ nước ngoài: (+84)2473087999<br>
                        - Email KHTT: cskh@vinid.net<br>
                        - Email VIP: cskhvip@vinid.net
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3>LIÊN HỆ</h3>
                    Công ty Cổ phần VinID
                    <br>
                    Địa chỉ: Số 7, Đường Bằng Lăng 1, Khu đô thị Vinhomes Riverside, Phường Việt Hưng, Quận Long Biên, Hà Nội, Việt Nam.

                    <br>
                    Điện thoại: 024-39749999 <br>
                    Mã số Doanh nghiệp: 0108372860 <br>
                    Ngày cấp: 23/07/2018. Nơi cấp: Phòng Đăng ký Kinh Doanh – Thành phố Hà Nội <br>
                    Email: cskh@vinid.net
                </div>

            </div>
            <div class="row single-footer-widget">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="copy_right_text">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> VinID - dịch vụ khách hàng
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="social_widget">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--================End Footer Area =================-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/HomeFile/js/jquery-3.2.1.min.js"></script>
    <script src="~/HomeFile/js/popper.js"></script>
    <script src="~/HomeFile/js/bootstrap.min.js"></script>
    <script src="~/HomeFile/js/stellar.js"></script>
    <script src="~/HomeFile/js/jquery.magnific-popup.min.js"></script>
    <script src="~/HomeFile/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/HomeFile/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="~/HomeFile/vendors/isotope/isotope-min.js"></script>
    <script src="~/HomeFile/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/HomeFile/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/HomeFile/vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/HomeFile/vendors/counter-up/jquery.counterup.min.js"></script>
    <script src="~/HomeFile/js/mail-script.js"></script>
   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   <script>
    $(document).ready(function () {

        $("#profile").show();
        $("#history").show();
        $("#loginbtn").show();
        
    });
   </script>
   
</body>
</html>
